@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

html {
  font-size: 16px;
}

body {
  position: relative;
  margin: 0;
  z-index: none;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
--cus-blue: #1677ff;
--cus-purple: #722ED1;
--cus-cyan: #13C2C2;
--cus-green: #52C41A;
--cus-magenta: #EB2F96;
--cus-pink: #eb2f96;
--cus-red: #F5222D;
--cus-orange: #FA8C16;
--cus-yellow: #FADB14;
--cus-volcano: #FA541C;
--cus-geekblue: #2F54EB;
--cus-gold: #FAAD14;
--cus-lime: #A0D911;
--cus-color-primary: #3d40e0;
--cus-color-success: #52c41a;
--cus-color-warning: #faad14;
--cus-color-error: #ff4d4f;
--cus-color-info: #1677ff;
--cus-color-link: #1677ff;
--cus-color-text-base: #000;
--cus-color-bg-base: #fff;
--cus-blue-1: #e6f4ff;
--cus-blue-2: #bae0ff;
--cus-blue-3: #91caff;
--cus-blue-4: #69b1ff;
--cus-blue-5: #4096ff;
--cus-blue-6: #1677ff;
--cus-blue-7: #0958d9;
--cus-blue-8: #003eb3;
--cus-blue-9: #002c8c;
--cus-blue-10: #001d66;
--cus-purple-1: #f9f0ff;
--cus-purple-2: #efdbff;
--cus-purple-3: #d3adf7;
--cus-purple-4: #b37feb;
--cus-purple-5: #9254de;
--cus-purple-6: #722ed1;
--cus-purple-7: #531dab;
--cus-purple-8: #391085;
--cus-purple-9: #22075e;
--cus-purple-10: #120338;
--cus-cyan-1: #e6fffb;
--cus-cyan-2: #b5f5ec;
--cus-cyan-3: #87e8de;
--cus-cyan-4: #5cdbd3;
--cus-cyan-5: #36cfc9;
--cus-cyan-6: #13c2c2;
--cus-cyan-7: #08979c;
--cus-cyan-8: #006d75;
--cus-cyan-9: #00474f;
--cus-cyan-10: #002329;
--cus-green-1: #f6ffed;
--cus-green-2: #d9f7be;
--cus-green-3: #b7eb8f;
--cus-green-4: #95de64;
--cus-green-5: #73d13d;
--cus-green-6: #52c41a;
--cus-green-7: #389e0d;
--cus-green-8: #237804;
--cus-green-9: #135200;
--cus-green-10: #092b00;
--cus-magenta-1: #fff0f6;
--cus-magenta-2: #ffd6e7;
--cus-magenta-3: #ffadd2;
--cus-magenta-4: #ff85c0;
--cus-magenta-5: #f759ab;
--cus-magenta-6: #eb2f96;
--cus-magenta-7: #c41d7f;
--cus-magenta-8: #9e1068;
--cus-magenta-9: #780650;
--cus-magenta-10: #520339;
--cus-pink-1: #fff0f6;
--cus-pink-2: #ffd6e7;
--cus-pink-3: #ffadd2;
--cus-pink-4: #ff85c0;
--cus-pink-5: #f759ab;
--cus-pink-6: #eb2f96;
--cus-pink-7: #c41d7f;
--cus-pink-8: #9e1068;
--cus-pink-9: #780650;
--cus-pink-10: #520339;
--cus-red-1: #fff1f0;
--cus-red-2: #ffccc7;
--cus-red-3: #ffa39e;
--cus-red-4: #ff7875;
--cus-red-5: #ff4d4f;
--cus-red-6: #f5222d;
--cus-red-7: #cf1322;
--cus-red-8: #a8071a;
--cus-red-9: #820014;
--cus-red-10: #5c0011;
--cus-orange-1: #fff7e6;
--cus-orange-2: #ffe7ba;
--cus-orange-3: #ffd591;
--cus-orange-4: #ffc069;
--cus-orange-5: #ffa940;
--cus-orange-6: #fa8c16;
--cus-orange-7: #d46b08;
--cus-orange-8: #ad4e00;
--cus-orange-9: #873800;
--cus-orange-10: #612500;
--cus-yellow-1: #feffe6;
--cus-yellow-2: #ffffb8;
--cus-yellow-3: #fffb8f;
--cus-yellow-4: #fff566;
--cus-yellow-5: #ffec3d;
--cus-yellow-6: #fadb14;
--cus-yellow-7: #d4b106;
--cus-yellow-8: #ad8b00;
--cus-yellow-9: #876800;
--cus-yellow-10: #614700;
--cus-volcano-1: #fff2e8;
--cus-volcano-2: #ffd8bf;
--cus-volcano-3: #ffbb96;
--cus-volcano-4: #ff9c6e;
--cus-volcano-5: #ff7a45;
--cus-volcano-6: #fa541c;
--cus-volcano-7: #d4380d;
--cus-volcano-8: #ad2102;
--cus-volcano-9: #871400;
--cus-volcano-10: #610b00;
--cus-geekblue-1: #f0f5ff;
--cus-geekblue-2: #d6e4ff;
--cus-geekblue-3: #adc6ff;
--cus-geekblue-4: #85a5ff;
--cus-geekblue-5: #597ef7;
--cus-geekblue-6: #2f54eb;
--cus-geekblue-7: #1d39c4;
--cus-geekblue-8: #10239e;
--cus-geekblue-9: #061178;
--cus-geekblue-10: #030852;
--cus-gold-1: #fffbe6;
--cus-gold-2: #fff1b8;
--cus-gold-3: #ffe58f;
--cus-gold-4: #ffd666;
--cus-gold-5: #ffc53d;
--cus-gold-6: #faad14;
--cus-gold-7: #d48806;
--cus-gold-8: #ad6800;
--cus-gold-9: #874d00;
--cus-gold-10: #613400;
--cus-lime-1: #fcffe6;
--cus-lime-2: #f4ffb8;
--cus-lime-3: #eaff8f;
--cus-lime-4: #d3f261;
--cus-lime-5: #bae637;
--cus-lime-6: #a0d911;
--cus-lime-7: #7cb305;
--cus-lime-8: #5b8c00;
--cus-lime-9: #3f6600;
--cus-lime-10: #254000;
--cus-color-text: rgba(0, 0, 0, 0.88);
--cus-color-text-secondary: rgba(0, 0, 0, 0.65);
--cus-color-text-tertiary: rgba(0, 0, 0, 0.45);
--cus-color-text-quaternary: rgba(0, 0, 0, 0.25);
--cus-color-fill: rgba(0, 0, 0, 0.15);
--cus-color-fill-secondary: rgba(0, 0, 0, 0.06);
--cus-color-fill-tertiary: rgba(0, 0, 0, 0.04);
--cus-color-fill-quaternary: rgba(0, 0, 0, 0.02);
--cus-color-bg-layout: #f5f5f5;
--cus-color-bg-container: #ffffff;
--cus-color-bg-elevated: #ffffff;
--cus-color-bg-spotlight: rgba(0, 0, 0, 0.85);
--cus-color-bg-blur: transparent;
--cus-color-border: #d9d9d9;
--cus-color-border-secondary: #f0f0f0;
--cus-color-primary-bg: #e6f4ff;
--cus-color-primary-bg-hover: #bae0ff;
--cus-color-primary-border: #91caff;
--cus-color-primary-border-hover: #69b1ff;
--cus-color-primary-hover: #4096ff;
--cus-color-primary-active: #0958d9;
--cus-color-primary-text-hover: #4096ff;
--cus-color-primary-text: #1677ff;
--cus-color-primary-text-active: #0958d9;
--cus-color-success-bg: #f6ffed;
--cus-color-success-bg-hover: #d9f7be;
--cus-color-success-border: #b7eb8f;
--cus-color-success-border-hover: #95de64;
--cus-color-success-hover: #95de64;
--cus-color-success-active: #389e0d;
--cus-color-success-text-hover: #73d13d;
--cus-color-success-text: #52c41a;
--cus-color-success-text-active: #389e0d;
--cus-color-error-bg: #fff2f0;
--cus-color-error-bg-hover: #fff1f0;
--cus-color-error-border: #ffccc7;
--cus-color-error-border-hover: #ffa39e;
--cus-color-error-hover: #ff7875;
--cus-color-error-active: #d9363e;
--cus-color-error-text-hover: #ff7875;
--cus-color-error-text: #ff4d4f;
--cus-color-error-text-active: #d9363e;
--cus-color-warning-bg: #fffbe6;
--cus-color-warning-bg-hover: #fff1b8;
--cus-color-warning-border: #ffe58f;
--cus-color-warning-border-hover: #ffd666;
--cus-color-warning-hover: #ffd666;
--cus-color-warning-active: #d48806;
--cus-color-warning-text-hover: #ffc53d;
--cus-color-warning-text: #faad14;
--cus-color-warning-text-active: #d48806;
--cus-color-info-bg: #e6f4ff;
--cus-color-info-bg-hover: #bae0ff;
--cus-color-info-border: #91caff;
--cus-color-info-border-hover: #69b1ff;
--cus-color-info-hover: #69b1ff;
--cus-color-info-active: #0958d9;
--cus-color-info-text-hover: #4096ff;
--cus-color-info-text: #1677ff;
--cus-color-info-text-active: #0958d9;
--cus-color-link-hover: #69b1ff;
--cus-color-link-active: #0958d9;
--cus-color-bg-mask: rgba(0, 0, 0, 0.45);
--cus-color-white: #fff;
--cus-font-size-sm: 12px;
--cus-font-size-lg: 16px;
--cus-font-size-xl: 20px;
--cus-font-size-heading-1: 38px;
--cus-font-size-heading-2: 30px;
--cus-font-size-heading-3: 24px;
--cus-font-size-heading-4: 20px;
--cus-font-size-heading-5: 16px;
--cus-line-height: 1.5714285714285714;
--cus-line-height-lg: 1.5;
--cus-line-height-sm: 1.6666666666666667;
--cus-font-height: 22px;
--cus-font-height-lg: 24px;
--cus-font-height-sm: 20px;
--cus-line-height-heading-1: 1.2105263157894737;
--cus-line-height-heading-2: 1.2666666666666666;
--cus-line-height-heading-3: 1.3333333333333333;
--cus-line-height-heading-4: 1.4;
--cus-line-height-heading-5: 1.5;
--cus-control-height-sm: 24px;
--cus-control-height-xs: 16px;
--cus-control-height-lg: 40px;
--cus-motion-duration-fast: 0.1s;
--cus-motion-duration-mid: 0.2s;
--cus-motion-duration-slow: 0.3s;
--cus-line-width-bold: 2px;
--cus-border-radius-xs: 2px;
--cus-border-radius-sm: 4px;
--cus-border-radius-lg: 8px;
--cus-border-radius-outer: 4px;
--cus-color-fill-content: rgba(0, 0, 0, 0.06);
--cus-color-fill-content-hover: rgba(0, 0, 0, 0.15);
--cus-color-fill-alter: rgba(0, 0, 0, 0.02);
--cus-color-bg-container-disabled: rgba(0, 0, 0, 0.04);
--cus-color-border-bg: #ffffff;
--cus-color-split: rgba(5, 5, 5, 0.06);
--cus-color-text-placeholder: rgba(0, 0, 0, 0.25);
--cus-color-text-disabled: rgba(0, 0, 0, 0.25);
--cus-color-text-heading: rgba(0, 0, 0, 0.88);
--cus-color-text-label: rgba(0, 0, 0, 0.65);
--cus-color-text-description: rgba(0, 0, 0, 0.45);
--cus-color-text-light-solid: #fff;
--cus-color-highlight: #ff4d4f;
--cus-color-bg-text-hover: rgba(0, 0, 0, 0.06);
--cus-color-bg-text-active: rgba(0, 0, 0, 0.15);
--cus-color-icon: rgba(0, 0, 0, 0.45);
--cus-color-icon-hover: rgba(0, 0, 0, 0.88);
--cus-color-error-outline: rgba(255, 38, 5, 0.06);
--cus-color-warning-outline: rgba(255, 215, 5, 0.1);
--cus-font-size-icon: 12px;
--cus-line-width-focus: 4px;
--cus-control-outline-width: 2px;
--cus-control-interactive-size: 16px;
--cus-control-item-bg-hover: rgba(0, 0, 0, 0.04);
--cus-control-item-bg-active: #e6f4ff;
--cus-control-item-bg-active-hover: #bae0ff;
--cus-control-item-bg-active-disabled: rgba(0, 0, 0, 0.15);
--cus-control-tmp-outline: rgba(0, 0, 0, 0.02);
--cus-control-outline: rgba(5, 145, 255, 0.1);
--cus-font-weight-strong: 600;
--cus-opacity-loading: 0.65;
--cus-link-decoration: none;
--cus-link-hover-decoration: none;
--cus-link-focus-decoration: none;
--cus-control-padding-horizontal: 12px;
--cus-control-padding-horizontal-sm: 8px;
--cus-padding-xxs: 4px;
--cus-padding-xs: 8px;
--cus-padding-sm: 12px;
--cus-padding: 16px;
--cus-padding-md: 20px;
--cus-padding-lg: 24px;
--cus-padding-xl: 32px;
--cus-padding-content-horizontal-lg: 24px;
--cus-padding-content-vertical-lg: 16px;
--cus-padding-content-horizontal: 16px;
--cus-padding-content-vertical: 12px;
--cus-padding-content-horizontal-sm: 16px;
--cus-padding-content-vertical-sm: 8px;
--cus-margin-xxs: 4px;
--cus-margin-xs: 8px;
--cus-margin-sm: 12px;
--cus-margin: 16px;
--cus-margin-md: 20px;
--cus-margin-lg: 24px;
--cus-margin-xl: 32px;
--cus-margin-xxl: 48px;
--cus-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
0 3px 6px -4px rgba(0, 0, 0, 0.12),
0 9px 28px 8px rgba(0, 0, 0, 0.05);
--cus-box-shadow-secondary: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
0 3px 6px -4px rgba(0, 0, 0, 0.12),
0 9px 28px 8px rgba(0, 0, 0, 0.05);
--cus-box-shadow-tertiary: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
0 1px 6px -1px rgba(0, 0, 0, 0.02),
0 2px 4px 0 rgba(0, 0, 0, 0.02);
--cus-box-shadow-popover-arrow: 2px 2px 5px rgba(0, 0, 0, 0.05);
--cus-box-shadow-card: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
0 3px 6px 0 rgba(0, 0, 0, 0.12),
0 5px 12px 4px rgba(0, 0, 0, 0.09);
--cus-box-shadow-drawer-right: -6px 0 16px 0 rgba(0, 0, 0, 0.08),
-3px 0 6px -4px rgba(0, 0, 0, 0.12),
-9px 0 28px 8px rgba(0, 0, 0, 0.05);
--cus-box-shadow-drawer-left: 6px 0 16px 0 rgba(0, 0, 0, 0.08),
3px 0 6px -4px rgba(0, 0, 0, 0.12),
9px 0 28px 8px rgba(0, 0, 0, 0.05);
--cus-box-shadow-drawer-up: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
0 3px 6px -4px rgba(0, 0, 0, 0.12),
0 9px 28px 8px rgba(0, 0, 0, 0.05);
--cus-box-shadow-drawer-down: 0 -6px 16px 0 rgba(0, 0, 0, 0.08),
0 -3px 6px -4px rgba(0, 0, 0, 0.12),
0 -9px 28px 8px rgba(0, 0, 0, 0.05);
--cus-box-shadow-tabs-overflow-left: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
--cus-box-shadow-tabs-overflow-right: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
--cus-box-shadow-tabs-overflow-top: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
--cus-box-shadow-tabs-overflow-bottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);
}